:root{
    --darkblue: #00204A;
    --blue: #005792;
    --lightblue : #00BBF0;
    --white: #ffffff;
    --darkwhite: #EFFBFF;
    --green: #008000;
    --lightgreen: #90ee90;
    --red: #8b0000;
    --lightred: #ff0000;
    --gradient : linear-gradient(to bottom left, var(--darkblue),var(--blue));
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: var(--gradient);
    min-height: 100vh;
    color: white;
    font-family: sans-serif;
}
header{
    font-size: 1.5rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    align-items: center;
}

.todo-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    margin: 0 auto;
    width: 300px;
    position: relative;
    box-sizing: border-box;
}
form input{
    padding: 0.5em;
    border: none;
    outline: none;
    font-size: 1.2em;
    width: 240px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 1;
}
form input:focus{
    background-color: var(--blue);
    border: 1px solid var(--white);
}
form button{
    padding: 0.1em 0.2em;
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--white);
    color: var(--green);
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: all .5s;
}
form button:hover, form button:focus{
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--white);
}
select{
    height: 50px;
    border: none;
    margin-top: 10px;
    font-size: 1em;
    text-transform: capitalize;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    color: var(--darkblue);
    box-sizing: border-box;
}
select:focus{
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(white);
}
.todo-list{
    list-style: none;
    margin: 40px auto;
    width: 350px;
}
.todo-item{
    margin-top: 20px;
    font-weight: bold;
    background-color: white;
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    padding: 0;
}
.todo-text{
    color: black;
    font-size: 1.1em;
    width: 260px;
    border-radius: 50px;
    margin: 0;
    color: var(--darkblue);
    height: 50px;
    word-wrap: break-word;
    padding: 16.2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.check{
    border: none;
    outline: none;
    font-weight: bold;
    position: absolute;
    background-color: var(--green);
    color: white;
    right: 50px;
    bottom: 7.5px;
    top: 7.5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-sizing: border-box;
}
.check i, .delete i{
    pointer-events: none;
}
.check:hover{
    background-color: var(--lightgreen);
    border: 1px solid var(--green);
    color: var(--green);
    cursor: pointer;
    transition: all .2s ease;
}
.delete{
    border: none;
    outline: none;
    font-weight: bold;
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    bottom: 7.5px;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-sizing: border-box;
}

.delete:hover{
    color: var(--red);
    background-color: var(--lightred);
    cursor: pointer;
    transition: all .2s ease;
}
.completed{
    text-decoration: line-through;
    opacity: 0.4;
    transition: all 0.5s;
}
.deleted{
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease;
}

.clear{
    display: none;
}
.clear.visible{
    display: block;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 10px auto;
}

.clear.visible:hover{
    background-color: var(--lightred);
    cursor: pointer;
    transition: all .2s ease;
}
.clear.visible:active{
    transform: scale(0.9);
    box-shadow: 0 0 2px 2px rgba(32, 31, 31, 0.9);
}

@media screen and (min-width:768px) {
    .todo-form-container{
        flex-direction: row;
        justify-content: space-between;
        width: 550px;
        margin: 0 auto;
    }
    form{
        width: 350px;
    }
    form input{
        width: 280px;
    }
    select{
        margin: 0;
    }
    .todo-list{
        width: 600px;
        margin: 50px auto;
    }
    .todo-text{
        width: 510px;
    }
}